limit_req_zone $binary_remote_addr zone=mylimit:10m rate=10r/s;

server {
    listen      80;
    listen      [::]:80;
    server_name {{ .ip }};
    root        /var/www/{{ .ip }}/public;

    # security
    include     nginxconfig.io/security.conf;

    # restrict methods
    if ($request_method !~ ^(GET|HEAD|CONNECT|OPTIONS|TRACE)$) {
        return '405';
    }

    # logging
    access_log /var/log/nginx/access.log combined buffer=512k flush=1m;
    error_log  /var/log/nginx/error.log warn;

    # index.html fallback
    location / {
        limit_req zone=mylimit;
        try_files $uri $uri/ /index.html;
    }

    # additional config
    include nginxconfig.io/general.conf;
}

# subdomains redirect
server {
    listen      80;
    listen      [::]:80;
    server_name *.{{ .ip }};
    return      301 http://{{ .ip }}$request_uri;
}